@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-tau-yellow: #ffcd29;
  --color-tau-blue: #002d5a;
  --color-tau-dark: #1a1a1a;
  --color-alo-red: #e4312b;
  --color-alo-pink-light: #f9d6d5;
  --color-alo-pink-dark: #e89b9a;
  --color-alo-blue: #009fe3;
  --color-school-white: #ffffff;
  --color-school-gray: #707070;
  --color-school-black: #000000;
  --color-brand-primary: var(--color-alo-red);
  --color-brand-secondary: var(--color-tau-yellow);
}